// HeadroomJS
// ============
.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.slide {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.slideUp {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.slideDown {
    -webkit-transform: translateY(0em);
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    transform: translateY(0em);
}

.headroom--top {
    -webkit-transform: translateY(0em);
    -ms-transform: translateY(0em);
    transform: translateY(0em);
}