// Zone Page
// ============
#zone-main {
	#sec1, #sec2, #sec3, #sec4, #sec5 {
		position: relative;
		overflow: hidden;
		.welcome-copy {
			position: absolute;
	    	top: 30%;
	    	right: 10%;
	    	width: 30%;
	    	min-width: 250px;
	    	padding: 2%;
	    	font-size: 0.7em;
	    	@include scrollHidden($lightPink, $lightBlue, 0.88, translateX, -20%, 1s);
	    	z-index: 8;
	    	@media (max-width: $mainNavBreakPoint) {
				font-size: 0.6em;
			}
	    	h2 {
	    		padding-bottom: 0.4em;
	    		font-family: $headFont;
	    		font-size: 2em;
	    		font-weight: lighter;
	    		letter-spacing: 0.1em;
	    		border-bottom: 1px solid #FFF;
	    	}
	    	p {
	    		font-size: 1.1em;
	    	}
	    	.btn-style-1 {
				@include btnOne($lightPink, $lightBlue, $mainNavBreakPoint);
				font-size: 1.2em;
			}
		}
		.hidden-col {
			height: 100%;
			padding: 5%;
			padding-top: 15%;
			@include scrollHidden($lightPink, $lightBlue, 0.88, translateX, 20%, 1.3s);
	    	@media (max-width: $mainNavBreakPoint) {
				font-size: 0.7em;
			}
			p {
				font-size: 1.5em;
				margin-bottom: 1.5em;
			}
			.btn-style-1 {
				@include btnOne($lightPink, $lightBlue, $mainNavBreakPoint);
			}
		}
		.copy {
			padding: 3%;
			margin: 0 auto;
	    	display: block;
	    	float: none;
		    @include scrollHidden($lightPink, $pinkSand, 0.70, translateY, -20%, 1.5s);
		    @media (max-width: $mainNavBreakPoint) {
				font-size: 0.8em;
			}
			h2 {
				padding-bottom: 0.4em;
	    		font-family: $headFont;
	    		font-size: 1.5em;
	    		letter-spacing: 0.1em;
	    		text-align: center;
	    		margin-bottom: 1.5em;
			}
			.btn-style-2 {
				@include btnOne($lightPink, $pinkSand, $mainNavBreakPoint);
				font-size: 1.2em;
				margin-bottom: 1.5em;
			}
		}
	}
	#sec1 {
		@include parlxImage('../images/backgrounds/landing/bg20.jpg', 650px);
	}
	#sec2 {
		@include parlxImage('../images/backgrounds/landing/bg22.jpg', 650px);
		.hidden-col {
			@include scrollHidden($lightPink, $lightBlue, 0.88, translateX, -20%, 1.3s);
		}	
	}
	#sec3 {
		@include parlxImage('../images/backgrounds/landing/bg21.jpg', 650px);
	}
	#sec4 {
		@include parlxImage('../images/backgrounds/landing/bg36.jpg', 650px);
		.hidden-col {
			@include scrollHidden($lightPink, $lightBlue, 0.88, translateX, -20%, 1.3s);
		}
	}
	#sec5 {
		@include parlxImage('../images/backgrounds/landing/bg6.jpg', 650px);
		padding-top: 8em;
	}
}










